[Desktop Entry]
Type=Application
Name=Moonbeam
Comment=Share your desktop over the network via Sunshine/Moonlight
Exec=moonbeam
Icon=org.agundur.moonbeam
Terminal=false
Categories=Network;RemoteAccess;Qt;KDE;
